[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://<MONGODB-SERVER-IPADDRESS>:27017/catalogue"
ExecStart=/bin/bash /app/nodejs.sh
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target


